In [1]:
# import neccessary packages 
import numpy as np 
import pandas as pd 
import torch 
import matplotlib.pyplot as plt

In [2]:
# import SWAN datasets 
df1 = pd.read_csv("./SWAN/visit1.csv")
df2 = pd.read_csv("./SWAN/visit2.csv")
df3 = pd.read_csv("./SWAN/visit3.csv")
df4 = pd.read_csv("./SWAN/visit4.csv")
df5 = pd.read_csv("./SWAN/visit5.csv")
df6 = pd.read_csv("./SWAN/visit6.csv")
df7 = pd.read_csv("./SWAN/visit7.csv")
df8 = pd.read_csv("./SWAN/visit8.csv")
df9 = pd.read_csv("./SWAN/visit9.csv")
df10 = pd.read_csv("./SWAN/visit10.csv")

### EDA

In [3]:
df1.columns

Index(['Unnamed: 0', 'id', 'mcc', 'status', 'cardio', 'hyperlipidemia',
       'thyroid', 'nerv', 'streoid', 'hormone', 'painmed', 'sleep', 'anemia',
       'cancers', 'migraine', 'fracture', 'work1', 'pss', 'depress.score',
       'age', 'race', 'marital', 'income', 'sleeph', 'lifeevent'],
      dtype='object')

In [4]:
df10.groupby(["mcc"]).size()

mcc
0.0    1174
1.0     194
2.0     695
dtype: int64

In [5]:
raw_dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10]

In [6]:
temp = np.asarray([])
for tempdf in raw_dfs :
    val = tempdf["id"].values
    temp = np.append(temp,val)

In [7]:
keys = np.unique(temp)
len(keys)

3095

## Merge Dataframes 

- Drop "marital" 
- Fill missing values as -1

In [10]:
dfs = []
for tempdf in raw_dfs :
    tempdf = tempdf.drop([tempdf.columns[0],"marital"], axis=1)
    #tempdf["work1"] = tempdf["work1"].fillna(value=0.0)
    #tempdf = tempdf.dropna()
    tempdf = tempdf.set_index("id")
    dfs.append(tempdf)
df_merge = pd.concat(dfs, axis=1, join="outer")
df_merge = df_merge.fillna(value=-1.0)

In [11]:
df_merge.head()
#df1.join(df2, on="id", how="outer")

,mcc,status,cardio,hyperlipidemia,thyroid,nerv,streoid,hormone,painmed,sleep,...,migraine,fracture,work1,pss,depress.score,age,race,income,sleeph,lifeevent
id,,,,,,,,,,,,,,,,,,,,,
10046,0.0,0.0,0.0,0.0,False,0.0,0.0,False,0.0,0.0,...,0.0,0.0,-1.0,0.0,6.0,62.0,2.0,4.0,4.000000,1.0
10056,0.0,3.0,0.0,0.0,False,0.0,0.0,False,0.0,0.0,...,0.0,0.0,-1.0,2.0,0.0,61.0,1.0,-1.0,0.666667,1.0
10092,0.0,3.0,0.0,0.0,False,0.0,0.0,False,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.0
10126,0.0,3.0,0.0,1.0,False,0.0,0.0,False,0.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.0
10153,2.0,3.0,0.0,0.0,False,0.0,0.0,False,0.0,0.0,...,0.0,0.0,-1.0,0.0,0.0,61.0,2.0,4.0,1.666667,1.0

In [15]:
df_merge.iloc[100, [0, 22, 44, 66, 88]]
# (0, 0, -1, -1, -1)

mcc    0.0
mcc    0.0
mcc   -1.0
mcc   -1.0
mcc   -1.0
Name: 13415, dtype: object

### Processing & Adding Y_{<t} as feature

In [23]:
preprocessed = df_merge.values
print("Current Shape:", preprocessed.shape)
np.save("SWAN_pro", preprocessed)

Current Shape: (3095, 220)

In [24]:
mcc = 22 * np.asarray([0,1,2,3,4,5,6,7,8,9])
Y = preprocessed[:, mcc]
print("Should be (N,10):", Y.shape)

Should be (N,10): (3095, 10)

In [25]:
Y[3] # 0, 0, 0, 0, 0, 0, -1, -1, -1, -1

array([0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -1.0, -1.0, -1.0, -1.0], dtype=object)

In [27]:
# Shift MCC (-1, 0, 1, 2) -> (0, 1, 2, 3)
Y = Y + 1

In [28]:
Y[3]

array([1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0], dtype=object)

In [29]:
idx = [x for x in range(220)]
for p in mcc : 
    idx.remove(p)

In [37]:
X = preprocessed[:, idx]
print(X.shape)
q = np.reshape(X, (X.shape[0], 10, 21))
print("N, T, F num:",q.shape)

(3095, 210)
N, T, F num: (3095, 10, 21)

In [40]:
auxY = np.ones((Y.shape[0],1)) * 0 # For t = 1 padding 
conY = np.hstack((auxY, Y)) 
stY = conY[:, :10] # Erase t = 10 (last snapshot)

In [42]:
#stY = stY[:, :, np.newaxis]
print(stY.shape)
pp = np.dstack((q, stY))
print(pp.shape)

(3095, 10)
(3095, 10, 22)

In [43]:
# Convert pp type to float 

pp = pp.astype(np.float64)

In [47]:
pp[0, :2, :]

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        , -1.        , -1.        ,
         5.        , 53.        ,  2.        ,  2.        ,  2.33333333,
         1.05555556,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  2.        ,  4.        ,
         6.        , 54.        ,  2.        ,  3.        ,  3.66666667,
         1.61111111,  1.        ]])

In [48]:
# Convert Y type to float 

Y = Y.astype(np.float64)

### Train / Test data split

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
from sklearn.model_selection import train_test_split

#data, labels = np.arange(10).reshape((5, 2)), range(5)

data_train, data_test, labels_train, labels_test = train_test_split(pp, Y, test_size=0.20, random_state=42)

In [401]:
data_train.shape
#labels_train.shape

(2476, 10, 22)

In [402]:
np.save("SWAN_train_X", data_train)
np.save("SWAN_test_X", data_test)
np.save("SWAN_train_Y", labels_train)
np.save("SWAN_test_Y", labels_test)

In [409]:
data_train.shape

(2476, 10, 22)

In [453]:
labels_train.shape

(2476, 10)

# Random Forest (Baseline)

In [55]:
mask = np.zeros((1,10,220), dtype=np.int32)

In [56]:
for t in range(10):
    mask[:, t, 0:22*(t+1)] = 1

In [57]:
mask = np.ones((1,10,220), dtype=np.int32) - mask
mask

array([[[0, 0, 0, ..., 1, 1, 1],
        [0, 0, 0, ..., 1, 1, 1],
        [0, 0, 0, ..., 1, 1, 1],
        ...,
        [0, 0, 0, ..., 1, 1, 1],
        [0, 0, 0, ..., 1, 1, 1],
        [0, 0, 0, ..., 0, 0, 0]]])

In [75]:
mask[:,0,:]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [61]:
np.sum(mask, axis=2) # should be 198, 176, 154 ,..., 0 Num of unobservable data

array([[198, 176, 154, 132, 110,  88,  66,  44,  22,   0]])

In [62]:
def lstm2base(X):
    """
    Changes lstm train data to RF data

    """
    # mask: if indexed (1), then turns into NA. 
    # For t step, only 22(F) * t features are observable
    N, T, F = X.shape
    X = np.reshape(X, (N, 1, F*T))
     X = np.repeat(X, repeats = 10, axis=1)

    mask = np.zeros((1,10,220), dtype=np.int32)
    for t in range(10):
        mask[:, t, 0:22*(t+1)] = 1
    #np.sum(mask, axis=2)
    mask = np.ones((1,10,220), dtype=np.int32) - mask
    mask = np.repeat(mask, repeats = N, axis = 0)
    
    X[mask] = -1
    return X

In [63]:
base_train = lstm2base(data_train)
base_test = lstm2base(data_test)

In [64]:
base_train.shape
base_test.shape

(619, 10, 220)

In [65]:
from sklearn.ensemble import RandomForestClassifier

In [66]:
clf = RandomForestClassifier(max_depth=100, random_state=42)

In [67]:
clf.fit(base_train.reshape((2476*10,-1)), labels_train.reshape((2476*10,-1)))

C:\Users\user\AppData\Local\Temp\ipykernel_36888\1949448408.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(base_train.reshape((2476*10,-1)), labels_train.reshape((2476*10,-1)))

RandomForestClassifier(max_depth=100, random_state=42)

In [68]:
y_test_predict = clf.predict(base_test.reshape((619*10,-1)))

In [465]:
y_test_predict.shape

(6190,)

In [69]:
y =  labels_test.reshape((619*10,-1))
tag_pad_idx=0.0
non_pad_elements, bb = (y != tag_pad_idx).nonzero()

In [469]:
non_pad_elements[0].shape

(4557,)

In [472]:
bb.sum()

0

In [70]:
from sklearn.metrics import accuracy_score

accuracy_score(y[non_pad_elements], y_test_predict[non_pad_elements])

0.7763879745446566

In [476]:
def categorical_accuracy(preds, y, tag_pad_idx=0.0):
    """
    Returns accuracy per batch, i.e. if you get 8/10 right, this returns 0.8, NOT 8
    """
    #max_preds = preds.argmax(dim = 1, keepdim = True) # get the index of the max probability
    max_preds = preds.reshape((-1,1))
    print(max_preds.shape)
    non_pad_elements = (y != tag_pad_idx).nonzero()
    correct = max_preds[non_pad_elements].squeeze(1).eq(y[non_pad_elements])
    return correct.sum() / y[non_pad_elements].shape[0]